[username]
show_always = true

[hostname]
ssh_only = true

{{ if ne .iswork "" -}}
[kubernetes]
disabled = false

[kubernetes.context_aliases]
"gke_algoan-dev_europe-west1-c_algoan-dev-v2" = "dev"
"gke_algoan-preprod_europe-west1-c_algoan-preprod" = "preprod"
"gke_algoan-prod_europe-west1-c_algoan-prod" = "prod"
{{- end }}

[gcloud]
disabled = true
