#!/bin/sh
{{ if eq .chezmoi.os "linux" -}}

INSTALL_PKGS="zsh ripgrep zoxide bat eza xclip golang tmux byobu micro"
for i in $INSTALL_PKGS; do
  sudo apt-get install -y $i
done

mkdir -p ~/.local/bin
ln -s /usr/bin/batcat ~/.local/bin/bat

# https://github.com/atuinsh/atuin
bash <(curl https://raw.githubusercontent.com/atuinsh/atuin/main/install.sh)

{{ else if eq .chezmoi.os "darwin" -}}

brew install ripgrep zoxide bat eza golang tmux reattach-to-user-namespace byobu git-delta gh atuin micro alacritty orbstack stats battery

# https://www.nerdfonts.com/
brew tap homebrew/cask-fonts
brew install --cask font-fira-code-nerd-font

brew install --cask jetbrains-toolbox

# https://github.com/ianyh/Amethyst
brew install --cask amethyst

# https://alt-tab-macos.netlify.app/
brew install --cask alt-tab

# https://github.com/newmarcel/KeepingYouAwake
brew install --cask keepingyouawake

# https://www.sublimetext.com/
brew install --cask sublime-text

{{ end -}}

# https://github.com/nvm-sh/nvm
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.38.0/install.sh | bash

# https://github.com/volta-cli/volta
curl https://get.volta.sh | bash

# https://bun.sh/
curl -fsSL https://bun.sh/install | bash

# https://starship.rs/
curl -fsSL https://starship.rs/install.sh | FORCE=1 sh

# https://github.com/pyenv/pyenv
curl -L https://github.com/pyenv/pyenv-installer/raw/master/bin/pyenv-installer | bash

{{ if stat (joinPath .chezmoi.homeDir ".pyenv") }}
# https://github.com/nvbn/thefuck
pip3 install thefuck
{{ end }}

# https://github.com/junegunn/fzf/
~/.fzf/install --all

# byobu
# byobu-enable

# https://github.com/rotblauer/gifit
#go get github.com/rotblauer/gifit
#cd $GOPATH/src/github.com/rotblauer/gifit
#go install
