pane	1	0	:	0	:#	0	:{{ .chezmoi.homedir }}/www/yelloan-scripts/migration-aden	1	zsh	:
pane	1	1	:config	0	:#	0	:{{ .chezmoi.homedir }}/www/yelloan-configurations	1	zsh	:
pane	1	2	:chatbot	0	:#	0	:{{ .chezmoi.homedir }}/www/react-yelloan-chatbot	1	zsh	:
pane	1	3	:aden-report-webapp	0	:#-	0	:{{ .chezmoi.homedir }}/www/aden-report-webapp	1	zsh	:
pane	1	4	:cofidis-fr	1	:*	0	:{{ .chezmoi.homedir }}/www/cofidis-fr-chatbot	1	zsh	:
pane	1	5	:-	0	:#	0	:{{ .chezmoi.homedir }}/www/admin-webapp	1	zsh	:
pane	1	6	:-	0	:#	0	:{{ .chezmoi.homedir }}/www/robotframeworkdemo/demoapp/html	0	zsh	:
pane	1	6	:-	0	:#	1	:{{ .chezmoi.homedir }}/www/robotframeworkdemo	1	zsh	:
window	1	0	0	:#	b25f,80x24,0,0,2
window	1	1	0	:#	b260,80x24,0,0,3
window	1	2	0	:#	b261,80x24,0,0,4
window	1	3	0	:#-	b262,80x24,0,0,5
window	1	4	1	:*	c863,236x56,0,0,6
window	1	5	0	:#	b264,80x24,0,0,7
window	1	6	0	:#	8229,80x24,0,0{40x24,0,0,8,39x24,41,0,9}
state	1	
