pane	1	0	:-	0	:	0	:{{ .chezmoi.homedir }}/www/yelloan-configurations	1	zsh	:
pane	1	1	:config	0	:	0	:{{ .chezmoi.homedir }}/www/yelloan-configurations/adenreportwebapp	1	zsh	:
pane	1	2	:chatbot	0	:	0	:{{ .chezmoi.homedir }}/www/react-yelloan-chatbot	1	zsh	:
pane	1	3	:aden-report-webapp	0	:-	0	:{{ .chezmoi.homedir }}/www/aden-report-webapp	1	zsh	:
pane	1	4	:cofidis-fr	1	:*	0	:{{ .chezmoi.homedir }}/www/cofidis-fr-chatbot	1	zsh	:
pane	1	5	:-	0	:	0	:{{ .chezmoi.homedir }}/www/puppeteer-chatflow-poc	1	node	:npm  
pane	1	6	:-	0	:	0	:{{ .chezmoi.homedir }}/www/credibl-webapp	1	zsh	:
window	1	0	0	:	665f,426x76,0,0,10
window	1	1	0	:	cc60,426x76,0,0,3
window	1	2	0	:	cc01,316x76,0,0,4
window	1	3	0	:-	cc02,316x76,0,0,5
window	1	4	1	:*	c523,220x56,0,0,6
window	1	5	0	:	cc04,316x76,0,0,7
window	1	6	0	:	cc05,316x76,0,0,8
state	1	
