pane	1	0	:-	0	:	0	:{{ .chezmoi.homedir }}/www/yelloan-configurations	1	zsh	:
pane	1	1	:config	0	:	0	:{{ .chezmoi.homedir }}/www/yelloan-configurations/adenreportwebapp	1	zsh	:
pane	1	2	:chatbot	0	:	0	:{{ .chezmoi.homedir }}/www/react-yelloan-chatbot	1	zsh	:
pane	1	3	:aden-report-webapp	0	:	0	:{{ .chezmoi.homedir }}/www/aden-report-webapp	1	zsh	:
pane	1	4	:cofidis-fr	0	:	0	:{{ .chezmoi.homedir }}/www/cofidis-fr-chatbot	1	zsh	:
pane	1	5	:-	0	:-	0	:{{ .chezmoi.homedir }}/www/puppeteer-chatflow-poc	1	node	:npm  
pane	1	6	:-	1	:*	0	:{{ .chezmoi.homedir }}/www/algoan-webapp	1	zsh	:
pane	1	7	:-	0	:	0	:{{ .chezmoi.homedir }}/www/algoan-webapp	1	zsh	:
window	1	0	0	:	668f,156x76,0,0,10
window	1	1	0	:	ccc0,156x76,0,0,3
window	1	2	0	:	ccc1,156x76,0,0,4
window	1	3	0	:	ccc2,156x76,0,0,5
window	1	4	0	:	ccc3,156x76,0,0,6
window	1	5	0	:-	ccc4,156x76,0,0,7
window	1	6	1	:*	c965,211x76,0,0,8
window	1	7	0	:	6691,156x76,0,0,12
state	1	
