pane	1	0	:-	0	:#	0	:{{ .chezmoi.homedir }}	1	ssh	:sudo /Applications/Turbo Boost Switcher.app/Contents/MacOS/Turbo Boost Switcher
ssh najiflix.fr
pane	1	1	:config	0	:-	0	:{{ .chezmoi.homedir }}/www/yelloan-configurations	1	zsh	:
pane	1	2	:chatbot	1	:*	0	:{{ .chezmoi.homedir }}/www/react-yelloan-chatbot	1	node	:npm   
pane	1	3	:aden-report-webapp	0	:	0	:{{ .chezmoi.homedir }}/www/aden-report-webapp	1	zsh	:
pane	1	4	:cofidis-fr	0	:	0	:{{ .chezmoi.homedir }}/www/cofidis-fr-chatbot	1	zsh	:
pane	1	5	:-	0	:	0	:{{ .chezmoi.homedir }}/www/puppeteer-chatflow-poc	1	zsh	:
pane	1	6	:-	0	:	0	:{{ .chezmoi.homedir }}/www/yelloan-webapp	1	zsh	:
pane	1	7	:-	0	:	0	:{{ .chezmoi.homedir }}/www/documentation	1	node	:npm   
window	1	0	0	:#	cc5f,426x76,0,0,2
window	1	1	0	:-	cc60,426x76,0,0,3
window	1	2	1	:*	cc61,426x76,0,0,4
window	1	3	0	:	cc62,426x76,0,0,5
window	1	4	0	:	cc63,426x76,0,0,6
window	1	5	0	:	cc64,426x76,0,0,7
window	1	6	0	:	cc65,426x76,0,0,8
window	1	7	0	:	cc66,426x76,0,0,9
state	1	
