{{ if eq .chezmoi.os "linux" -}}
[ -r /usr/share/byobu/profiles/bashrc ] && . /usr/share/byobu/profiles/bashrc  #byobu-prompt#
{{ else if eq .chezmoi.os "darwin" -}}
[ -r $BYOBU_PREFIX/share/byobu/profiles/bashrc ] && . $BYOBU_PREFIX/share/byobu/profiles/bashrc  #byobu-prompt#
{{ end -}}
